.never-go-back-explanation1600px-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.never-go-back-explanation1600px-text {
  top: 524px;
  left: 848px;
  color: rgba(0, 0, 0, 1);
  width: 903px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text02 {
  top: 723px;
  left: 851px;
  color: rgba(0, 0, 0, 1);
  width: 903px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-f-a-q {
  top: 922px;
  left: 731px;
  width: 1032px;
  height: 72px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  description: text;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading {
  top: 0px;
  left: 120px;
  width: 899px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text04 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text05 {
  font-weight: 700;
}
.never-go-back-explanation1600px-text09 {
  font-weight: 400;
}
.never-go-back-explanation1600px-f-a-q1 {
  top: 651px;
  left: 731px;
  width: 1032px;
  height: 72px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  description: text;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading1 {
  top: 0px;
  left: 120px;
  width: 241px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text10 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-nevergoback-section1600px {
  width: 100%;
  height: 1208px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1600px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(207, 212, 250, 1);
}
.never-go-back-explanation1600px-f-a-q2 {
  top: 140px;
  left: 156px;
  width: 1032px;
  height: 72px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading2 {
  top: 0px;
  left: 120px;
  width: 824px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text21 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 50px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-f-a-q3 {
  top: 489px;
  left: 655px;
  width: 793px;
  height: 72px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading3 {
  top: 0px;
  left: 120px;
  width: 175px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text23 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text24 {
  font-weight: 700;
}
.never-go-back-explanation1600px-text25 {
  font-weight: 400;
}
.never-go-back-explanation1600px-f-a-q4 {
  top: 690px;
  left: 610px;
  width: 380px;
  height: 70px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading4 {
  top: 0px;
  left: 120px;
  width: 241px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text37 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-f-a-q5 {
  top: 912px;
  left: 672px;
  width: 674px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading5 {
  top: 0px;
  left: 120px;
  width: 899px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text48 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text49 {
  font-weight: 700;
}
.never-go-back-explanation1600px-text53 {
  font-weight: 400;
}
.never-go-back-explanation1600px-text54 {
  top: 279px;
  left: 293px;
  color: rgba(0, 0, 0, 1);
  width: 867px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-rectangle9 {
  top: 444px;
  left: 94px;
  width: 480px;
  height: 632px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-text56 {
  top: 760px;
  left: 657px;
  color: rgba(0, 0, 0, 1);
  width: 794px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text58 {
  top: 561px;
  left: 655px;
  color: rgba(0, 0, 0, 1);
  width: 793px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.never-go-back-explanation1600px-text59 {
  font-weight: 700;
}
.never-go-back-explanation1600px-text60 {
  font-weight: 400;
}
.never-go-back-explanation1600px-text64 {
  font-weight: 700;
}
.never-go-back-explanation1600px-image25 {
  top: 498px;
  left: 120px;
  width: 84px;
  height: 72px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-f-a-q6 {
  top: 616px;
  left: 0px;
  width: 575px;
  height: 451px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.never-go-back-explanation1600px-section-heading6 {
  top: 0px;
  left: 120px;
  width: 442px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: column;
}
.never-go-back-explanation1600px-text76 {
  color: var(--dl-color-text-gray900);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: GRIFTER;
  font-weight: 700;
  line-height: 64px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .never-go-back-explanation1600px-container {
    height: 1212px;
  }
  .never-go-back-explanation1600px-text {
    width: auto;
  }
  .never-go-back-explanation1600px-text02 {
    top: 773px;
    right: -153px;
    width: auto;
  }
  .never-go-back-explanation1600px-text04 {
    width: 40rem;
  }
}
